# Segmenting and Clustering Neighborhoods in Toronto

In [2]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from urllib.request import urlopen

### Creating Beautiful Soup objects and passing URL

In [6]:
ca_url = urlopen('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
ca = BeautifulSoup(ca_url, 'html.parser')
ca_tables = ca.find_all('table')

### Creating lists to hold scraped data

In [7]:
postcodes = []
boroughs = []
nhs = []

### Iterating over rows in wikipedia table, placing data in lists

In [22]:
for table in ca_tables:
    rows = table.find_all('tr')
    
    for row in rows:
        cells = row.find_all('td')
        
        if len(cells) > 1:
            postcode = cells[0]
            postcodes.append(postcode.text.strip())
            
            borough = cells[1]
            boroughs.append(borough.text.strip())
            
            nh = cells[-1]
            nhs.append(nh.text.strip())

# Creating a new dataframe from the postcodes list 
df3 = pd.DataFrame(postcodes, columns=['Postcodes'])

### Adding list data from Boroughs and Neighborhoods to df3 dataframe

In [9]:
df3['Boroughs'] = boroughs
df3['Neighborhoods'] = nhs

### Removing extranious data from other tables

In [10]:
df4 = df3.iloc[0:287]

In [11]:
df4

    Postcodes          Boroughs          Neighborhoods
0         M1A      Not assigned           Not assigned
1         M2A      Not assigned           Not assigned
2         M3A        North York              Parkwoods
3         M4A        North York       Victoria Village
4         M5A  Downtown Toronto           Harbourfront
..        ...               ...                    ...
282       M8Z         Etobicoke              Mimico NW
283       M8Z         Etobicoke     The Queensway West
284       M8Z         Etobicoke  Royal York South West
285       M8Z         Etobicoke         South of Bloor
286       M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

### Removing and cleaning duplicate data

In [13]:
# 'dropBoNh' drops postcodes without assigned buroughs and Neighborhoods 
dropBoNh = df4[(df4['Boroughs'] == 'Not assigned') & (df4['Neighborhoods'] == 'Not assigned')].index

df4.drop(dropBoNh, inplace=True)
df4

    Postcodes          Boroughs             Neighborhoods
2         M3A        North York                 Parkwoods
3         M4A        North York          Victoria Village
4         M5A  Downtown Toronto              Harbourfront
5         M6A        North York          Lawrence Heights
6         M6A        North York            Lawrence Manor
..        ...               ...                       ...
281       M8Z         Etobicoke  Kingsway Park South West
282       M8Z         Etobicoke                 Mimico NW
283       M8Z         Etobicoke        The Queensway West
284       M8Z         Etobicoke     Royal York South West
285       M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [14]:
#double checking dataframe to ensure all unassigned values have been removed. 
df4[df4['Boroughs'] == 'Not assigned']

Empty DataFrame
Columns: [Postcodes, Boroughs, Neighborhoods]
Index: []

In [15]:
#double checking dataframe to ensure all unassigned values have been removed. 
df4[df4['Postcodes'] == 'Not assigned']

Empty DataFrame
Columns: [Postcodes, Boroughs, Neighborhoods]
Index: []

In [16]:
#checking dataframe for duplicate neighborhoods values across idencial buroughs and postcodes
df4[df4['Postcodes'] == 'M9V']

    Postcodes   Boroughs     Neighborhoods
227       M9V  Etobicoke    Albion Gardens
228       M9V  Etobicoke  Beaumond Heights
229       M9V  Etobicoke        Humbergate
230       M9V  Etobicoke         Jamestown
231       M9V  Etobicoke       Mount Olive
232       M9V  Etobicoke       Silverstone
233       M9V  Etobicoke     South Steeles
234       M9V  Etobicoke       Thistletown

In [17]:
#grouping data by postcode. Duplicate Buroughs and Neighborhoods are combined and seperated by commas. 
df5 = df4.groupby(df4['Postcodes'], as_index=False).agg({'Boroughs': [(','.join)] ,  'Neighborhoods': [(','.join)] })
#reseting the column values
df5.columns = ['Postcodes', 'Boroughs', 'Neighborhoods']
df5

,Postcodes,Boroughs,Neighborhoods
0,M1B,"Scarborough,Scarborough","Rouge,Malvern"
1,M1C,"Scarborough,Scarborough,Scarborough","Highland Creek,Rouge Hill,Port Union"
2,M1E,"Scarborough,Scarborough,Scarborough","Guildwood,Morningside,West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,"Etobicoke,Etobicoke,Etobicoke,Etobicoke","Kingsview Village,Martin Grove Gardens,Richvie..."
101,M9V,"Etobicoke,Etobicoke,Etobicoke,Etobicoke,Etobic...","Albion Gardens,Beaumond Heights,Humbergate,Jam..."
102,M9W,Etobicoke,Northwest

In [18]:
#removing the duplicate values in the Boroughs column 
df5['Boroughs'] = df5['Boroughs'].str.split(',').apply(set).str.join(',').str.strip(',').str.replace(",{2,}",",")
df5

    Postcodes     Boroughs                                      Neighborhoods
0         M1B  Scarborough                                      Rouge,Malvern
1         M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2         M1E  Scarborough                    Guildwood,Morningside,West Hill
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                          Cedarbrae
..        ...          ...                                                ...
98        M9N         York                                             Weston
99        M9P    Etobicoke                                          Westmount
100       M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101       M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102       M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [19]:
#verifying that data is acurate and free of duplicate values.
df5[df5['Boroughs'] == 'Downtown Toronto']

,Postcodes,Boroughs,Neighborhoods
50,M4W,Downtown Toronto,Rosedale
51,M4X,Downtown Toronto,"Cabbagetown,St. James Town"
52,M4Y,Downtown Toronto,Church and Wellesley
53,M5A,Downtown Toronto,Harbourfront
54,M5B,Downtown Toronto,"Ryerson,Garden District"
55,M5C,Downtown Toronto,St. James Town
56,M5E,Downtown Toronto,Berczy Park
57,M5G,Downtown Toronto,Central Bay Street
58,M5H,Downtown Toronto,"Adelaide,King,Richmond"
59,M5J,Downtown Toronto,"Harbourfront East,Toronto Islands,Union Station"
60,M5K,Downtown Toronto,"Design Exchange,Toronto Dominion Centre"
61,M5L,Downtown Toronto,"Commerce Court,Victoria Hotel"
66,M5S,Downtown Toronto,"Harbord,University of Toronto"
67,M5T,Downtown Toronto,"Chinatown,Grange Park,Kensington Market"
68,M5V,Downtown Toronto,"CN Tower,Bathurst Quay,Island airport,Harbourf..."
69,M5W,Downtown Toronto,Stn A PO Boxes 25 The Esplanade
70,M5X,Downtown Toronto,"First Canadian Place,Underground city"
75,M6G,Downtown Toronto,Christie
85,M7A,Downtown Toronto,Queen's Park

In [24]:
df5.shape

(103, 3)